
@import url("https://use.typekit.net/rax8agp.css");
* {
    margin: 0px;
    padding : 0px;
    border: none;
}

body {
    font-family: hypatia-sans-pro,sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #262626;
    background-color: rgba(243, 243, 243, 0.766);
}
/*logo and menu*/
#logo {
    margin-left: 10%;
    width: 200px;
    float: left;
    padding-bottom: 10px;
    padding-top: 10px;
}

#menu {
    float:right
    
}
#menu, #logo {
    line-height: 75px;
    
}
#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    padding-top: 5px;
}
#menu a {
    text-decoration: none;
    color: inherit;
}
#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
text-shadow: 0px 1px #ffffff;
}

/*background*/

.container {

    width: 100%;
    
  }
  
  .image {

    width: 100%;
    height: auto;
    opacity: .9;
    border: 1px solid rgb(80, 79, 79);
    -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(233, 233, 239,.6));
    
  }
  #about{
    padding-top: 20px;
    position: relative;
    text-align: center;
    font-size: 110%;}

    
.itisfun {
            padding-top: 30px;
            width: 33%;
            float: left;
            text-align: center;
        }
        
 .itisfriendly   {
            
    padding-top: 30px;
            width: 33%;
            float: right;
            text-align: center;
        }
        
        
        
    .itishealthy {
            
            width: 33%;
            
            padding-right: 50%;
            text-align: center;
        }
